*{
	padding: 0;
	margin: 0;
}
#wrapper{
	/*background-image: url(images/bacgraund/foto.png);*/
	background-image:url(images/icon/background.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 35px;
}

body{
	font-family: "Open Sans", "Aria", "Helvetica", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 153%;
	/*запомнить, использовать всегда и везде*/
}
header {
	font-size: 20px;
	text-align: center;
	width: 889px;
	background-color: #efefef;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 68px;
	padding-top: 21px;
	padding-bottom: 21px;
	padding-left: 28px;
	padding-right: 28px;
}
header a {
	text-decoration: none;
	color: black;
}
header nav a {
	padding-right: 10px;
}

header nav a:before {
	border-left: 1px solid;
	content: '';
	display: inline-block;
	height: 12px;
	margin-right: 14px;
}

header nav a:hover{
	border-bottom: 1px solid;
}

header nav a:first-child:before {
	display: none;
}

#logo{
	float: left;
}

header .tel {
	float: right;
}

header .tel a{
	color: #276b7f;
}

header .tel a:hover{
	color: black;
	border-bottom: 1px solid;
}

header .tel b{
	color: black;
}

header .tel b:hover{
	color: #276b7f;
}

main{
	width: 935px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	
}

h1{
	margin-bottom: 84px;
  font-size: 38px;
  color:white;
  text-align: center;
  text-shadow: 2px 2px 3px black;
}

h2{
	margin-bottom: 35px;
	/*font-size:; */
	/*line-height:154%;*/
	/*не помню как посмотреть эти данные*/
}

section{
	margin-top:27px;
	padding-bottom: 70px;
	border-bottom: 1px solid #ebf1f4;
}

main .img{
	width: 410px;
	height: 280px;
	background-color: grey;
	display: inline-block;
}

main section .text a {
	color: black;
	padding-left: 60px;
	background: url(images/icon/doc.png) no-repeat left;
	display: inline-block;
	padding-bottom: 12px;
}

main section .text a:hover{
	text-decoration: none;
}

.text{
	width: 500px;
	float: right;/*????????*/
	text-align: justify;/*здесь он вроде не нужен*/
	/*margin-left: 450px;*/
	/*margin-top: -270px;/*так правильно?*/
	display: inline-block;
}

.pagination{
	padding-top: 13px;
}
.pagination a{
	text-decoration: none;
	margin-left: 9px;
	color: black;
	font-weight: 700;
	font-size:15px;
	display: inline-block;
	text-align: center;
	padding-top: 4px;
}

.pagination a:hover{
	border-bottom: 1px solid;
	color: #35d0d3;
}

.pagination a.active{
	background-color: #35d0d3;
	color: white;
	width: 30px;
	height: 25px;
}

footer{
	width: 935px;
	margin-right: auto;
	margin-left: auto;
	
}

footer nav a{
	text-decoration: none;
	font-weight: 600;
	margin-right: 43px;
	color: black;
}

footer nav a:hover { 
  border-bottom: 1px solid;
}

footer nav{
	border-top: 3px solid;
	padding-top: 28px;
	margin-bottom: 25px;
}
footer p{
	color: #8e8e8e;
}